@font-face {
    font-family: Mukta;
    src: url("Mukta/Mukta-Medium.ttf")
}

header {
    text-align: center;
}

* {

    color: #F6AE2D;
    margin: 0px;
    background-color: #33658A;
}

body {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    background-image: url("homepage.jpg");
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-origin: border-box;

    min-height: 1000px;
    position: center;

    border-width: 1px;
    border-style: solid;
    border-color: #F26419;

    background-position: center;





}

h1 {
    font-family: 'Mukta';
    text-align: left;
    padding: 0.3em;
    border-bottom: 1px solid #FF6B6B;
    border-width: 30%;
    font-size: 40px;
}


#intro {
    text-align: center;
}

#day1 {
    transition: color 2s;
}

#day1:hover {
    color: #F26419;
}


/* body { 
    font-family: 'Courier New', Courier, monospace;
    background-color: #90C2E7;

    border-width: 5px;
    border-style: ridge;
    border-color: #092327;

    padding: 10px;
    margin: 10px;
}*/